body{
	text-align: center;
	background: url("../images/Untitled3.png");
	/*background-repeat: repeat;*/
    background-position: 200px 210px;
	width: 100%;
    background-attachment: absolute;
	background-size: 5%;
	font-family: sans-serif;
	margin-bottom: 320;
	margin: 0 auto;
}

h1{
	font-family: "Brush Script MT", cursive;
	background-color: #b19cd9;
	color: #FFF;
	font-size: 130px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 210.4px;
	margin:0;

}


.timetext{
	padding-top: 5px;
	font-size: 70px;
}



/*Actual text within the clock*/
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 150px;
}

/*Outside of blocks, also puts them in line*/
#clockdiv > div{
	padding: 20px;
	border-radius: 50px;
	background: #008080;
	display: inline-block;
	margin-top: 50px;
}

/*Inside of blocks*/
#clockdiv div > span{
	padding: 15px;
	border-radius: 50px;
	background: #b19cd9;
	display: inline-block;
}