body{
	text-align: center;
	background-image: url("../images/background.jpg");
	/*background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
	background-position: 50% 80%;
	background-size: 1200px 150px;
	font-family: sans-serif;*/
}

h1{
/*font-size: 70px;
/*text-shadow: 5px 5px 0px #eee, 7px 7px 0px #707070;*/
	font-family: "Brush Script MT", cursive;
	color: #551A8B;
	font-size: 130px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.timetext{
	padding-top: 5px;
	font-size: 70px;
}


/*div img {
   width: 250px;
   height : 300px;
   position : fixed;
   display: block;
   bottom : 0;
   left: 42.5%;
   margin : auto;
   
}*/

/*Actual text within the clock*/
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 150px;
}

/*Outside of blocks, also puts them in line*/
#clockdiv > div{
	padding: 20px;
	border-radius: 50px;
	background: #008080;
	display: inline-block;
}

/*Inside of blocks*/
#clockdiv div > span{
	padding: 15px;
	border-radius: 50px;
	background: #b19cd9;
	display: inline-block;
}